@model DreamCushion.Models.VMLogin;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body onload="document.forms['loginForm'].submit()">
    <form id="loginForm" asp-controller="Access" asp-action="Login" method="post">
        <h1>Login</h1>
        <p style="color: red; font-weight: bold;">Note: This login page is under development. Logging in with autofilled credentials...</p>
        <input type="email" placeholder="Email" asp-for="Email" value="user@example.com" />
        <input type="Password" placeholder="Password" asp-for="Password" value="User@123" />

        <label>
            <input type="checkbox" asp-for="KeepLoggedIn" />
            Keep me logged In.
        </label>
        <button type="submit">Login</button>

        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>
