@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-8 text-center">
            <img src="img/image2.jpg" class="img-fluid mb-4" alt="Dreams Cushion Image" width="400" height="400">
            <h1 class="display-4">Welcome to Dreams Cushion</h1>
            <p class="lead">Find Your Perfect Pillow Today</p>
            <p>Explore our wide range of high-quality pillows designed to provide you with the best comfort and support for a good night's sleep.</p>
            <a class="btn btn-primary btn-lg mr-3" asp-area="" asp-controller="Pillows" asp-action="">Shop Now</a>
            
        </div>
    </div>
</>
